
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body{
    font-family: "Work Sans", "sans-serif";
  }

  .container{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    
 
  }
  
.header {
    padding: 10px;
    border-bottom:1px solid #c5c4c4;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
    
}

.logo1{
    width: 100px;
}


.header .links ul{
    list-style: none;
    padding: 0px;
    background-color: #eee;
    position: absolute;
    right: 0;
    min-width: 200px;
    display: none;
   
    
}
.header .links:hover ul{
  display: block;
  transition: .5s;
}
 .header .links ul::before{ 
    position: absolute;
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    right: 12px;
    bottom: 193px;
}


.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
    color: #333;
    
    }

    .header .links ul li:not(:last-child) a {
      
      border-bottom: 1px solid lightgreen;

    }

    .header .links ul li a:hover{
      padding-left: 25px;
      
  }
/* end of header and start of landing */

.landing{
  display: flex;
  margin: auto;
  padding: 20px;
  justify-content: center;
  width: 60%;
  height: 400px;
  background-color: lightgreen;
  border-style: solid;
  border-color: lightgreen;
  border : 1px;
  border-radius: 2%;
 position: relative;
 top: 60px;


}


  @media (min-width:768px) {
    .container{
        width: 750px;
    }
    
  }

  @media (min-width:992px) {
    .container{
        width: 970px;
    }
    
  }

  @media (min-width:1200px) {
    .container{
        width: 1170px;
    }
    
  }

  @media (min-width:1500px) {
    .container{
        width: 1470px;
    }
    
  }

  @media (min-width:1900) {
    .container{
        width: 1870px;
    }
    
  }